.searchPage__logo{
    object-fit: contain;
    height: 50px;
    margin-right: 50px;
}
.searchPage__header{
    display: flex;
    position: sticky;
    top: 0;
    z-index: 100;
    align-items: flex-start;
    padding: 30px;
    border-bottom: 1px solid #3c4043;
    background-color: #202124;
}
.searchPage__header--body > .search > .search__input{
    margin-top: 0;
    width: unset;
    margin: unset;
    max-width: unset;
}
.searchPage__options{
    display: flex;
    align-items: center;
    color: #969ba1;
}
.searchPage__options--left,.searchPage__options--right{
    display: flex;
}
.searchPage__options a,.searchPage__options--right a{
    text-decoration: none;
    color: #969ba1;
}
.searchPage__options--right{
    margin-left: 80px;
}
.searchPage__option{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.searchPage__option a{
    margin-left: 5px;
    cursor: not-allowed ;
}
.searchPage__results{
    color: #bdc1c6;
    max-width: 650px;
    margin-top: 20px;
    margin-left: 240px;
    margin-bottom: 100px;
}
@media (max-width: 768px){
    .searchPage__header{
        flex-direction: column;
        align-items: center;
    }
    .searchPage__logo{
        margin: 0 auto;
    }
    .searchPage__options{
        max-width: 600px;
    }
    .searchPage__options--right{
        display: none;
    }
    .searchPage__results{
        margin-left: 10px;
        max-width: 600px;
    }
}
@media (max-width: 550px) {
    .searchPage__options{
        max-width: 450px;
    }
    .searchPage__option--more{
        display: none;
    }
    .searchPage__results{
        max-width: 450px;
    }
}