.search__input{
    display: flex;
    align-items: center;
    border: 1px solid #5f6368;
    height: 30px;
    padding: 10px 20px;
    border-radius: 999px;
    width: 75vw;
    margin: 0 auto;
    margin-top: 40px;
    max-width: 560px;
}
.search__input--field{
    flex:1;
    padding: 10px 20px;
    font-size: medium;
    border: none;
    color: white;
    font-weight: bold;
    background-color: inherit;
}
.search__input--field:focus{
    outline-width: 0;
    outline:none;
}
.search__input--icon, .mic--icon{
    color:#9aa0a6;
}
.search__buttons{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.search__buttons .btn{
    padding: 7px 15px;
    margin: 5px;
    text-transform: inherit;
    color:white;
    background-color: #303134;
    border-color: #303134;
}
.search__buttons .btn:hover{
    box-shadow: 0 1px 1px rgba(0,0,0,0,.1);
    background-color: #303134;
    border: 1px solid #5f6368;
    
}
.btn-hidden{
    display:none !important;
}